# =========================
# Java compiled files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code settings
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ / Eclipse (if used later)
# =========================
.idea/
*.iml
*.iws
*.ipr
bin/
out/

# =========================
# Compiled / build folders
# =========================
build/
target/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.bak